<header class="masthead">
    <div class="intro-text">
      <span class="name"> <%= t "projects.welcome" %></span>
      <hr class="star-light">
      <%= link_to t("links.signup"), new_user_registration_path, class: "btn btn-success" %>
      <%= link_to t("links.signin"), new_user_session_path, class: "btn btn-success" %>


      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="btn-social btn-outline" href="#">
            <i class="fa fa-fw fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-social btn-outline" href="#">
            <i class="fa fa-fw fa-vk"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="btn-social btn-outline" href="#">
            <i class="fa fa-fw fa-twitter"></i>
          </a>
        </li>
      </ul>

    </div>

</header>