<div class="pledge_margin "  >
<%= bootstrap_form_for([@project, @project.donations.new]) do |f|%>
  <%= f.number_field :pledge, min: 1, label: t("links.pledge")%>
  <%= f.submit t("links.create") %>
<%end%>
</div>


