<!-- Page Content -->
<div class="container post-container">

  <h2>77777</h2>

  <!-- Portfolio Item Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><%= @project.title %>
        <small>Item Subheading</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-8">
      <%= image_tag "profile.png", class: "img-responsive" %>
    </div>

    <div class="col-md-4">
      <h3>Project Description</h3>
      <p><%= @project.body %></p>
    </div>

  </div>
  <!-- /.row -->

  <!-- Related Projects Row -->
  <div class="row">

    <div class="col-lg-12">
      <h3 class="page-header">Related Projects</h3>
    </div>

    <% @projects.each do |post| %>
        <div class="col-sm-3 col-xs-6">
          <%= link_to project_path(post) do %>
          <% end %>
        </div>
    <% end %>

  </div>
  <!-- /.row -->
</div>